/* === Style global === */

/* Variables */

:root{
    --couleur-accent: #0D5EAF;
    --couleur-survole: #82B0D9;
    --couleur-gris: #EDEDED;
    --marge-interne : 1em 5em;
}

/* Polices */

@font-face {
  font-family: "Playfair";
  src:
    url("./assets/fonts/Playfair.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src:
    url("./assets/fonts/Inter.ttf") format("truetype");
}

/* Style général */

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    font-family: Playfair, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

/* === HEADER === */

body > header {
    padding: var(--marge-interne);
    background-color: var(--couleur-accent);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    font-family: Inter, Arial, sans-serif;
    font-weight: bold;
}

body > header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#bouton-menu{
    display: none;
    width: 40px;
    height: 40px;
}

#menu-mobile{
    background-color: var(--couleur-accent);
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

#menu-mobile ul{
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#menu-mobile ul li a{
    font-family: Inter, Arial, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#menu-mobile.ouvert{
    padding: 1em;
    max-height: 250px;
}

body > header img:not(#bouton-menu){
    width: 70px;
    height: 70px;
}

body > header nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

body > header nav:not(#menu-mobile) ul a{
    text-decoration: none;
    color: white;
    transition: all .5s;
    padding: .5em 1em;
    border-radius: 8px;
}

body > header nav:not(#menu-mobile) ul a:hover{
    background-color: white;
    color: var(--couleur-accent);
}

/* === MAIN === */

main{
    flex: 1;
}

/* === FOOTER === */

footer {
    padding: 2em 5em;
    background-color: var(--couleur-accent);

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Inter, Arial, sans-serif;
    font-weight: bold;
}

footer div{
    display: flex;
}

footer div nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

footer div nav ul a{
    text-decoration: none;
    color: white;
}

footer div:nth-of-type(2){
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
}

footer div:nth-of-type(2) p{
    margin: 0;
}

footer div .icon{
    width: 50px
}

/* === MOBILE === */
@media screen and (max-width: 428px) {

    body > header{
        padding: .8em;
    }

    #bouton-menu{
        display: block;
    }

    body > header div nav{
        display: none;
    }

    footer{
        flex-direction: column;
        gap: 30px;
        padding: .2em;
    }

    footer img{
        width: 50px;
    }

    footer div{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    footer div:nth-of-type(2){
        flex-direction: row;
    }
}

/* ----------------------------------------
    PAGE ARTS
   ---------------------------------------- */

.page-oeuvres header{
    position: relative;
}

.page-oeuvres header img{
    width: 100%;
}

.page-oeuvres header div.fond-entree{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
    background: linear-gradient(to right, var(--couleur-accent), transparent);
}

.page-oeuvres header div:not(.fond-entree){
    position: absolute;
    top: 25%;
    left: 10%;
    text-align: left;
    width: 50em;
}

.page-oeuvres header div:not(.fond-entree) h1{
    font-size: 5em;
    font-weight: bolder;
    margin: 0;
}

.page-oeuvres header div:not(.fond-entree) p{
    font-size: 2em;
}

.page-oeuvres > section{
    padding: 1em 5em;
    font-size: 1.2em;
}

.page-oeuvres > section article{
    padding: 1em;
    position: relative;
    border-radius: 8px;
    width: 100%;
}

.page-oeuvres > section article:first-child{
    background-color: var(--couleur-gris);
    color: black;
}

.page-oeuvres > section article:first-child h2{
    font-size: 32px;
}

.page-oeuvres > section article:first-child p{
    font-size: 16px;
    font-weight: 600;
}

.page-oeuvres > section article:last-child {
    width: 80%;
    display: flex;
    justify-content: center;
}

.page-oeuvres > section article:last-child div {
    width: 50%;
}

.page-oeuvres > section article:last-child figure {
    background-color: var(--couleur-accent);
    width: 20em;
    padding: 1em;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.page-oeuvres > section article:last-child img {
    height: auto;
    width: 20em;
}

.page-oeuvres > section article:last-child p {
    width: 50%;
    color: black;
    font-size: 16px;
    font-weight: 600;
    font-family: Playfair, "Arial", sans-serif;
}

/* Format mobile page arts */
@media screen and (max-width: 428px) {}