/* ----------------------------------------
    PAGE ARTS
   ---------------------------------------- */

main header{
    position: relative;
}

main header img{
    width: 100%;
}

main header div.fond-entree{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--couleur-accent), transparent);
}

main header div:not(.fond-entree){
    position: absolute;
    top: 50%;
    left: 35%;
    text-align: left;
    width: 50em;
}

main header div:not(.fond-entree) h1{
    font-size: 5em;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
}

main header div:not(.fond-entree) p{
    font-size: 2em;
}

main > section article{
    padding: 1em;
    position: relative;
    border-radius: 8px;
    width: 100%;
}

main > section article:first-child{
    background-color: var(--couleur-gris);
    color: black;
}

main > section article:first-child h2{
    font-size: 32px;
}

main > section article:first-child p{
    font-size: 16px;
    font-weight: 600;
}

/* Format mobile page arts */
@media screen and (max-width: 428px) {}