/* === Style global === */

/* Variables */

:root{
    --couleur-accent: #0D5EAF;
    --couleur-survole: #82B0D9;
    --couleur-gris: #EDEDED;
    --marge-interne : 1em 5em;
}

/* Polices */

@font-face {
  font-family: "Playfair";
  src:
    url("./assets/fonts/Playfair.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src:
    url("./assets/fonts/Inter.ttf") format("truetype");
}

/* Style général */

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    font-family: Playfair, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

/* === HEADER === */

body > header {
    padding: var(--marge-interne);
    background-color: var(--couleur-accent);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    font-family: Inter, Arial, sans-serif;
    font-weight: bold;
}

body > header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#bouton-menu{
    display: none;
    width: 40px;
    height: 40px;
}

#menu-mobile{
    background-color: var(--couleur-accent);
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

#menu-mobile ul{
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#menu-mobile ul li a{
    font-family: Inter, Arial, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#menu-mobile.ouvert{
    padding: 1em;
    max-height: 250px;
}

body > header img:not(#bouton-menu){
    width: 70px;
    height: 70px;
}

body > header nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

body > header nav:not(#menu-mobile) ul a{
    text-decoration: none;
    color: white;
    transition: all .5s;
    padding: .5em 1em;
    border-radius: 8px;
}

body > header nav:not(#menu-mobile) ul a:hover{
    background-color: white;
    color: var(--couleur-accent);
}

/* === MAIN === */

main{
    flex: 1;
}

/* === FOOTER === */

footer {
    padding: 2em 5em;
    background-color: var(--couleur-accent);

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Inter, Arial, sans-serif;
    font-weight: bold;
}

footer div{
    display: flex;
}

footer div nav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

footer div nav ul a{
    text-decoration: none;
    color: white;
}

footer div:nth-of-type(2){
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
}

footer div:nth-of-type(2) p{
    margin: 0;
}

footer div .icon{
    width: 50px
}

/* === MOBILE === */
@media screen and (max-width: 428px) {

    body > header{
        padding: .8em;
    }

    #bouton-menu{
        display: block;
    }

    body > header div nav{
        display: none;
    }

    footer{
        flex-direction: column;
        gap: 30px;
        padding: .2em;
    }

    footer img{
        width: 50px;
    }

    footer div{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    footer div:nth-of-type(2){
        flex-direction: row;
    }
}

/* ----------------------------------------
    PAGE ACCUEIL
   ---------------------------------------- */

.page-accueil{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.page-accueil header{
    position: relative;
}

.page-accueil header video{
    width: 100%;
}

.page-accueil header div.fond-noir{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.page-accueil header div:not(.fond-noir){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.page-accueil header div:not(.fond-noir) h1{
    font-size: 15em;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
}


.page-accueil header div:not(.fond-noir) p{
    font-size: 2.5em;
}

.page-accueil header section{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.page-accueil header section article{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 16px;
    padding: 0 2em;
}

.page-accueil header section article img{
    width: 40px;
}

.page-accueil > section{
    padding: 1em 5em;
    font-size: 1.2em;
}

.page-accueil > section:nth-of-type(1){
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.page-accueil > section:nth-of-type(1) div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.page-accueil > section:nth-of-type(1) article{
    background-color: var(--couleur-accent);
    padding: 1em;
    position: relative;
    border-radius: 8px;
}

.page-accueil > section:nth-of-type(1) iframe{
    width: 49%;
}

.page-accueil > section:nth-of-type(1) article h4{
    position: absolute;
    margin: 0;
    top: 20px;
    right: 20px;
    font-weight: bolder;
    font-size: 2.5em;
}

.page-accueil > section:nth-of-type(1) article img{
    width: 50px;
    position: absolute;
    margin: 0;
    top: 20px;
    right: 20px;
}

.page-accueil > section:nth-of-type(2) article{
    padding: 2em 3em;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: black;
    box-shadow: 0 0 25px 5px black;
    font-size: 1.5em;
}

.page-accueil > section:nth-of-type(2) img{
    max-width: 300px;
}

/* Liens vers autres pages */

.page-accueil > section:nth-of-type(3){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.page-accueil > section:nth-of-type(3) article{
    position: relative;
    flex-basis: 48%;
}

.page-accueil > section:nth-of-type(3) article a{
    text-decoration: none;
    color: white;
}

.page-accueil > section:nth-of-type(3) img{
    width: 100%;
}

.page-accueil > section:nth-of-type(3) article span{
    position: absolute;
    background: var(--couleur-accent);
    padding: .2em .5em;
    border-radius: 8px;
    transition: all 1s;
    font-size: 1.5em;

    top: -10px;
    right: -10px;

    /* Aligner texte au milieu */

    display: flex;
    justify-content: center;
    align-items: center;
}

.page-accueil > section:nth-of-type(3) article:hover span{
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 5em;
    border-radius: 40px;
}

/* Formalités d'entrée */

.page-accueil > section:nth-of-type(4){
    background-color: var(--couleur-accent);
    width: 50%;
    margin: auto;
    border-radius: 16px;
    box-shadow: black 0 0 25px 5px;
    padding: 1em;
}

.page-accueil > section:nth-of-type(4) header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.page-accueil > section:nth-of-type(4) header img{
    width: 50px;
}

.page-accueil > section:nth-of-type(4) section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* Slider */

.slider{
    margin: 20px auto;
    width: 1160px;
    height: 650px;
    transition: all 1s ease-in-out;
    background-image: url("./assets/images/accueil/slider.webp");
    position: relative;
    border-radius: 16px;
}

.slider img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    cursor: pointer;
}

.slider img:last-child{
    right: 0;
    transform: rotate(180deg);
}

.slider img:active:last-child{
    transform: scale(1.2) rotate(180deg);
}

.slider img:active{
    transform: scale(1.2);
}

/* Format mobile page accueil */
@media screen and (max-width: 428px) {
    .page-accueil header div:not(.fond-noir){
        width: 90%;
    }

    body{
        font-size: 1em;
    }
    .page-accueil header div:not(.fond-noir) h1{
        font-size: 3em;
    }

    .page-accueil header div:not(.fond-noir) p{
        font-size: 1em;
    }

    .page-accueil header section article img{
        width: 20px;
    }

    .page-accueil header section article h2{
        margin: 0;
        font-size: .7em;
    }

    .page-accueil header section article{
        padding: .1em .8em;
    }


    .page-accueil > section:nth-of-type(3) article{
        flex-basis: 100%;
    }

    .page-accueil > section:nth-of-type(3) article:nth-child(odd) span{
        right: -10px;
    }

    .page-accueil > section:nth-of-type(3) article:nth-child(even) span{
        left: -10px;
    }
}

/* ----------------------------------------
    PAGE PERSONNAGES
   ---------------------------------------- */
.page-personnage header {
    background-color: var(--couleur-accent);
    display: flex;
    flex-direction: column;
    
}

.page-personnage header nav {
    background-color: var(--couleur-gris);
    color: black;
    margin: 5px;
    width: 25em;
    font-size: 1.5em;
}
.page-personnage header > figure {
    display: flex;
    flex-direction: row-reverse;
}

.page-personnage{
    margin: 20px;
}

.page-personnage header > figure figcaption {
    background-color: var(--couleur-gris);
    color: black;
    font-size: 1.5em;
    border-radius: 20px;
    box-shadow: 5px 5px black;
}

.page-personnage header h1 {
    align-self: center;
    font-size: 5em;
}

.page-personnage figure {
    background-color: var(--couleur-accent);
}
.page-personnage article {
    color: black;
    background-color: var(--couleur-gris);
}

.page-personnage section article:nth-child(2) {
    background-color: var(--couleur-accent);
    color: white;
}

.page-personnage figcaption {
    color: white;
}

.pos-nav {
    display: flex;
    flex-direction: row;
}

.page-personnage header nav:nth-child(2) {
    height: fit-content;
}



/* Format mobile page personnages */
@media screen and (max-width: 428px) {}

/* ----------------------------------------
    PAGE GASTRONOMIE
   ---------------------------------------- */





/* Format mobile page gastronomie */
@media screen and (max-width: 428px) {}

/* ----------------------------------------
    PAGE LIEUX
   ---------------------------------------- */
.page-lieux h1{
    background-image: url(image-lieux/Image\ Titre.png);
}


.page-lieux header section{
    color: #0D5EAF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-lieux header section p{
    color : black;
}

.page-lieux h2, h3{
    margin : 0;
}


.page-lieux #art1{
    width: 585px;
    height: 1667px;
    background-color: #D9D9D9;
    color: black;
    border-radius: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-lieux #art1 p{
    margin: 0;
    height: 880px;
    width: 508px;
    font-size: 40px;
   
}

.page-lieux #art1 img{
    width: 486px;
    height: 721px;
}

.page-lieux #art2{
    width: 585px;
    height: 1667px;
    border-radius: 69px;
    color: white;
    background-color: #173960;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.page-lieux #art2 p{
    margin: 0;
}

.page-lieux section{
    display: flex;
    justify-content: space-around;
}
/* Format mobile page lieux */
@media screen and (max-width: 428px) {}

/* ----------------------------------------
    PAGE ARTS
   ---------------------------------------- */

.page-oeuvres header{
    position: relative;
}

.page-oeuvres header img{
    width: 100%;
}

.page-oeuvres header div.fond-entree{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99.5%;
    background: linear-gradient(to bottom right, var(--couleur-accent), transparent);
}

.page-oeuvres header div:not(.fond-entree){
    position: absolute;
    top: 25%;
    left: 10%;
    text-align: left;
    width: 50em;
}

.page-oeuvres header div:not(.fond-entree) h1{
    font-size: 5em;
    font-weight: bolder;
    margin: 0;
}

.page-oeuvres header div:not(.fond-entree) p{
    font-size: 2em;
}

.page-oeuvres > section{
    padding: 1em 5em;
}

.page-oeuvres > section article, .page-oeuvres > section details{
    padding: 1em;
    position: relative;
    border-radius: 8px;
    width: 100%;
}

.page-oeuvres > section details{
    background-color: var(--couleur-gris);
    color: black;
}

.page-oeuvres > section details summary{
    font-size: 24px;
    font-weight: 600;
    font-family: Playfair, "Arial", sans-serif;
}

.page-oeuvres > section > details > p {
    font-size: 16px;
    font-weight: 600;
}

.page-oeuvres > section article {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-oeuvres > section article div {
    width: 50%;
}

.page-oeuvres > section article div:first-child figure {
    background-color: var(--couleur-accent);
    width: 11em;
    padding: 1em;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.page-oeuvres > section article div:first-child img {
    height: auto;
    width: 11em;
    border-radius: 4px;
}

.page-oeuvres > section article div:last-child figure {
    background-color: var(--couleur-accent);
    width: 20em;
    padding: 1em;
    color: white;
    text-align: center;
    border-radius: 8px;
}

.page-oeuvres > section article div:last-child img {
    height: auto;
    width: 20em;
    border-radius: 4px;
}

.page-oeuvres > section article p {
    text-align: center;
    width: 100%;
    color: black;
    font-size: 16px;
    font-weight: 600;
    font-family: Playfair, "Arial", sans-serif;
}

.page-oeuvres section:nth-of-type(2){
    padding: 0;
    margin: 0;
}

.page-oeuvres section:nth-of-type(2) div {
    display: flex;
    width: 100%;
}

.page-oeuvres section:nth-of-type(2) figure{
    padding: 0;
    margin: 0;
    flex-basis: 25%;
    position: relative;
}

.page-oeuvres > section:nth-of-type(2) > div > figure::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.page-oeuvres > section:nth-of-type(2) > div > figure:hover::after {
    opacity: 1;
}

.page-oeuvres section:nth-of-type(2) img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-oeuvres > section:nth-of-type(2) > div > figure a {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 18px;
    background: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    opacity: 0;
    z-index: 3;
    transition: 0.3s ease;
}

.page-oeuvres > section:nth-of-type(2) > div > figure:hover a {
    opacity: 1;
}

.page-oeuvres > section:nth-of-type(3) {
    margin: 2em;
}

.page-oeuvres > section:nth-of-type(3) iframe {
    border-radius: 10px;
}

/* Format mobile page arts */
@media screen and (max-width: 428px) {}